extends layout
append head
    link(rel="stylesheet" href='/stylesheets/404error.css')
block content
    div(id="errorContent")
        h1(id="errorTitle") Sorry, we were not able to find the requested page
        h2(id='goBackLine') Click here to go back
        div(id='errorButtonContainer')
            a(href='/'): button(id='goBackToHome' class='errorButtons') Home 
            a(href='/questions'): button(id='goBackToQuestions' class='errorButtons') Questions 