extends layout

block content
    //- h1= title
    //-     if errors
    //-         div(class='alert alert-danger' role='alert')
    //-             p The following error(s) occurred:
    //-             ul
    //-                 each error in errors
    //-                     li= error
    if(locals.authenticated)
        form.ask-form(action="/questions/ask" method="POST")
            input(type="hidden" name="_csrf" value=csrfToken)

            label(for="question") What do you need help with?
            input(type="text" name="question" required)

            label(for="additional_info") Additional info
            input(type="text" name="additional_info")

            button Ask
