extends layout

block content
    if(locals.authenticated)
        .new-question
            form.ask-form(action="/questions/ask" method="POST")
                input(type="hidden" name="_csrf" value=csrfToken)

                label(for="question" class="ask-label") What do you need help with?
                textarea(type="text" name="question" required class="ask-question")

                label(for="additional_info" class="ask-label") Additional info?
                input(type="text" name="additional_info" class="ask-input")

                button(id= "ask-button") Ask
    include footer.pug
