footer
  div(id="footer")
    div(id="names")
      div(class="individual") Zane Hamadi
        div(class="icons")
          a(href='https://github.com/zanehamadi' target="_blank")
            i.fab.fa-github.fa-lg
          a(href='https://www.linkedin.com/in/zane-hamadi-a47b1a215/' target="_blank")
            i.fab.fa-linkedin.fa-lg
      div(class="individual") Sean Cotter
        div(class="icons")
          a(href='https://github.com/Cotter45' target="_blank")
            i.fab.fa-github.fa-lg
          a(href='https://www.linkedin.com/in/sean-cotter-43572417/' target="_blank")
            i.fab.fa-linkedin.fa-lg
      div(class="individual") Jacky Hao
        div(class="icons")
          a(href='https://github.com/JackyxCS' target="_blank")
            i.fab.fa-github.fa-lg
          a(href='https://www.linkedin.com/in/liujiehao' target="_blank")
            i.fab.fa-linkedin.fa-lg
