footer
  div(id="footer")
    div(id="devteam")
      p Dev Team
    div(id="names")
      div(id="individual") Zane Hamadi
        div(id="icons")
          a(href='https://github.com/zanehamadi' target="_blank")
            i.fab.fa-github.fa-lg
          a(href='https://www.linkedin.com/in/zane-hamadi-a47b1a215/' target="_blank")
            i.fab.fa-linkedin.fa-lg
      div(id="individual") Sean Cotter
        div(id="icons")
          a(href='https://github.com/Cotter45' target="_blank")
            i.fab.fa-github.fa-lg
          a(href='https://www.linkedin.com/in/zane-hamadi-a47b1a215/' target="_blank")
            i.fab.fa-linkedin.fa-lg
      div(id="individual") Jacky Hao
        div(id="icons")
          a(href='https://github.com/JackyxCS' target="_blank")
            i.fab.fa-github.fa-lg
          a(href='www.linkedin.com/in/liujiehao' target="_blank")
            i.fab.fa-linkedin.fa-lg