extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  div(id="homepage")
    div(id="scrollContainer")
      div(id="slider") Pot Overflow was created for every
        div(class="carousel")
          div(class="inner")
            div(class="word") executive chef
            div(class="word") home cook 
            div(class="word") food enthusiast
            div(class="word") executive chef

  include footer.pug

