extends layout

append head
  link(rel="stylesheet" href="/stylesheets/index.css")

block content
  div(id="homepage")
    div(id="scrollContainer")
      div(id="slider") Pot Overflow is a place for every
        div(class="carousel")
          div(class="inner")
            div(class="word") executive chef
            div(class="word") home cook
            div(class="word") food enthusiast
            div(class="word") executive chef
    if !locals.authenticated
      .get-started-container
        a(href="/register"): button Get Started
        a(href="/login"): button Already have an account?
    else
      .get-started-container
        a(href="/profile" class="word") Welcome back, #{user.username} 

  include footer.pug
