extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  h1= "Pot Overflow"
  p Welcome to your Project Skeleton
  //- if locals.authenticated
  //-     form(action="/logout" method="post")
  //-       button(id="logoutbutton") Log out
  //- else
  //-     button(id="loginButton"): a(href="/login") Log in
  //-     button(id="registerButton"): a(href="/register") Register
  //-     form(action="/demo" method="post")
  //-       button(id="demoButton") Demo

