doctype html
html
  head
      block head
        title="Pot Overflow"
        link(rel='stylesheet' href='/stylesheets/reset.css')
        script(src="/javascripts/layout.js" type="module" defer)

  body
    div(id="navcontainer")
      nav(id="nav-bar")
        div(id="home")
          button(id="homeButton"): a(href='/') Home
          button(id="questions-button"): a(href="/questions") Questions
        form(method="post" action="/search")
          label(for="searchBar")
          input(type="text" placeholder="SEARCH HERE" id="searchBar" name="searchBar")
          button(type="submit" id="searchButton") Search!
        div(id="login")
          if locals.authenticated
              form(action="/logout" method="post")
                button(id="logoutbutton") Log out
              a(href="/profile"): img(id="logo" src="https://palmbayprep.org/wp-content/uploads/2015/09/user-icon-placeholder.png" width="20px" height="20px")
              button(id="askQuestionButton"): a(href="/questions/ask") Ask a Question!
          else
              button(id="loginButton"): a(href="/login") Log in
              button(id="registerButton"): a(href="/register") Register
              form(action="/demo" method="post")
                button(id="demoButton") Demo
      

              



    block content
