doctype html
html
  head
      block head
        title="Express Starter App"
        link(rel='stylesheet' href='/stylesheets/reset.css')
        script(src="/javascripts/layout.js" type="module" defer)

  body
    form(method="post" action="/search")
      label(for="searchBar") Search for questions 
      input(type="text" id="searchBar" name="searchBar")
      button(type="submit" id="searchButton") Search!
    block content
