extends layout.pug

block content
    div(id="userProfileContainer")
        h1(id="userHeader1")= `${user.username}'s Profile Page`
        div(id="questionsContainer")
            h2(class="profileHeaders") Your Questions
            ul(class="profileLists")
                each question in questions
                    li(class="profileListsSpecific"): a(href=`/questions/${question.id}`)= question.question

        div(id="answerContainer")
            h2(class="profileHeaders") Your Answers
            ul(class="profileLists")
                each answer in answers
                    li(class="profileListsSpecific"): a(href=`/questions/${answer.Question.id}`)= answer.answer

        div(id="upvoteContainer")
            h2(class="profileHeaders") Your Upvoted Posts
            ul(class="profileLists")
                each upvote in upvotes
                    li(class="profileListsSpecific"): a(href=`/questions/${upvote.Question.id}`)= upvote.Question.question
    include footer.pug
