extends layout.pug

block content
    table
        thead
            th Questions
            th Posted by

        tbody 
            each question in questions
                tr
                    td: a(href=`/questions/${question.id}`)= question.question
                    td= question.User.username
    include footer.pug
