extends layout.pug

block content
    div(id="registration")
        div(id="infoContainer")
            if errors
                div(class='alert alert-danger' role='alert')
                    p The following error(s) occurred:
                    ul
                        each error in errors
                            li= error
            else
                div(id="infobox") Join the Pot Overflow Community
                div(id="bulletPoints")
                    div Vote and answer questions
                    div Find your lamb sauce
                    div Get help so you can stop being an idiot sandwich
        div(id="registrationForm")
            h1= title
            form(method="post" action="/register")
                input(type="hidden" name="_csrf" value=csrfToken)
                label(for="username") Username
                input(type="text" name="username" required)
                label(for="email") Email
                input(type="email" name="email" required)
                label(for="password") Password
                input(type="password" name="password" required)
                label(for="confirm-password") Confirm Password
                input(type="password" name="confirm-password" required)
                button(id="register") Register
                span(id="accountHyperLink"): a(href=`/login`) Already have an account? Click here to log in!
    include footer.pug