extends layout

block content 
    table
        thead
            th Questions
            th Posted by 
        
        tbody 

            each question in qArray
                tr
                    td: a(href=`/questions/${question.id}`)= question.question
                    td= question.User.username