#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 9vh;
  background-color: slategray;
  box-sizing: border-box;
  color: white;
  text-align: center;
  vertical-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#devteam {
  padding-top: 10px;
  text-align: center;
}

#names {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

.icons > a{
  padding: 0px 5px;
}

.individual {
  width: 25vw;
  font-size: 25px;
}

.icons {
  padding-top: 5px;
}
