#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 12vh;
  background-color: slategray;
  color: white;
  text-align: center;
  vertical-align: top;
}

#devteam {
  padding-top: 5px;
  text-align: center;
}

#names {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

#icons > a{
  padding: 0px 2px;
}

.individual {
  width: 25vw;
}

#icons {
  padding-top: 5px;
}

