#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 10vh;
  background-color: slategray;
  color: white;
  text-align: center;
  display: inline-block;
  vertical-align: top;
  /* display: flex; */
}

#devteam {
  display: flex;
  justify-content: space-around;
}

#names {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 5px;
}

#icons > a{
  padding: 0px 2px;
}

