#homepage {
  position: absolute;
  top: 10vh;
  left: 10vw;
  width: 80%;
  background-color: lightgray;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  height: 70%;
  padding-left: 5vw;
  padding-top: 15vh;
  background-image: url("../images/food-2068217_1920.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#slider {
  padding-right: 10px;
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 50px;
  color: lightgrey;
}

#scrollContainer {
  width: 100vw;
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.carousel {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  height: 50px;
  width: 400px;
  margin: 0 auto;
  text-align: center;
}

.inner {
    animation: scroll 25s ease-in-out infinite;
}

.word {
  padding-left: 8px;
  color: rgb(92, 166, 227);
  font-weight: bold;
  font-size: 50px;
}

@keyframes scroll {
  0%{
		transform: translateY(0%);
	}
	17.5%{
		transform: translateY(-25%);
	}
	33%{
		transform: translateY(-50%);
	}
	66%{
		transform: translateY(-75%);
	}
}



.get-started-container {
  position: absolute;
  top: 15vh;
  left: 5vw;
  display: flex;
  width: 80vw;
  justify-content: space-around;
  flex-direction: column;
  gap: 45px;
}

.get-started-container > a > button{
  height: 100px;
  width: 350px;
  background-color: rgb(92, 166, 227);
  transition: .4s ease-in-out;
}

.get-started-container > a > button:hover {
  transition: .4s ease-in-out;
  background-color: rgb(26, 85, 133);
  transform: translateY(5px)
}

.get-started-container > a > button {
  color: white;
  font-size: 25px;
}

