* {
    padding: 0;
    margin: 0;
  }


  #questionContainer {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 70%;
    position: absolute;
    top: 10vh;
    background-image: url("../images/pasta-1181189_1920.jpg");
    background-repeat: no-repeat;
    overflow-y: scroll;

  }

  .total {
    padding: 10px;
  }

  .total > h4 {
    font-size: 25px;
  }

  .table {
    border-collapse: collapse;
    background-color: lightgrey;
    width: 80%;
    position: absolute;
    left: 5vw;
    top: 10vh;
    overflow-y: scroll;
  }

  .table > * th {
    font-size: 25px;
  }

  .table > * th, td {
    text-align: left;
    padding: 15px;
    box-sizing: border-box;
    overflow: hidden;

  }

  .table > * tr {
    border: 1px solid black;
  }

  #visit > a {
    text-decoration: none;
  }

  #visit {
    text-align: center;
  }

  a {
    text-decoration: none;
  }

  .search-td  {
    transition: 0.4s ease-in-out;
  }

  .search-td:hover {
    transition: 0.4s ease-in-out;
    color: deepskyblue;
    font-size: 20px;
  }
