#registration {
  position: absolute;
  top: 10vh;
  left: 10vw;
  width: 80%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../images/ingredients-498199_1920.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#registrationForm {
  background-color: rgb(240, 236, 236);
  border: 2px solid lightgray;
  border-radius: 25px;
  margin-left: 10vw;
  width: 15vw;
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#registrationForm > form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 2.5vw;
}

#registrationForm > form > input{
  width: 10vw;
  margin: 10px 0px;
  border-radius: 5px;
  height: 2vh;
}

#registrationForm > form > label{
  /* display: flex;
  justify-content: flex-start;
  text-align: left; */
}

#infoContainer {
  padding-right: 25vw;
  color: black;
  background-color: rgba(240, 236, 236);
  border-radius: 25px;
  padding: 25px;
  position: relative;
  /* right: 150px; */
  /* margin-right: 50px; */
}

#infobox {
  padding-bottom: 5vh;
  font-size: 20px;
  color: black;
}

#bulletPoints > div {
  padding-top: 2vh;
  color: black;
}

#register {
  position: relative;
  background-color: white;
  border: none;
  border-radius: none;
  transition: 0.4s ease-in-out;
  margin-left: 2.5vw;
}

#register:hover {
  transition: 0.4s ease-in-out;
  background-color: deepskyblue;
}

#accountHyperLink{
  padding-top: 10%;
  padding-left: 4%;
  padding-right: 2%;
  transition: text-shadow 0.3s linear;
}

#accountHyperLink:hover{
  text-shadow: 1px 1px rgb(63, 62, 62)
}
