body {
  padding: 50px;
  font: 14px Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6, a, ol, li, ul, div, span,
body, header, nav {
  font-size: 1rem;
  color: inherit;
  background-color: transparent;
  margin: 0;
  padding: 0;
  outline: 0;
  font-weight: normal;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(100, 100, 100, .5), rgba(200, 200, 200, 1));
}

h1 {
  font-size: 2rem;
}

#login {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

#home {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}

button {
  height: 25px;
  width: 100px;
  font-size: 12px;
  border-radius: 20px;
}


button > a {
  text-decoration: none;
  font-size: 12px;
}

#searchBar {
  width: 40vw;
  height: 25px;
  border-radius: 15px;
}

*::-webkit-scrollbar {
  width: 0;
  visibility: hidden;
}

*::-webkit-scrollbar-track {
  visibility: hidden;
}

*::-webkit-scrollbar-thumb {
  visibility: hidden;
}

button > * {
  pointer-events: none;
}
